<div class="body">
<div class="wrapper">
    <div class="logo-container">
        <div class="logo-text" >
            <h1 class="logo">C</h1><h1 class="text">COMERCIO</h1>
            
        </div>
    </div>
        <form [formGroup]="formUser"  (ngSubmit)="login()">
        <div class="input-box">
            <mat-form-field>
                <mat-label>Votre email</mat-label>   
            <input matInput type="text"  formControlName="email"  required>
            <i class='bx bxs-user'></i>
            <mat-error *ngIf="formUser.get('email')!.hasError('required')">Ce champ est obligatoire</mat-error>
        </mat-form-field>
     
            <mat-form-field>
                <mat-label>Votre password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formUser.get('password')!.hasError('required')">Ce champ est obligatoire</mat-error>
              </mat-form-field>
        </div>
        <!-- <div class="remember-forget">
            <label> <input type="checkbox">
            remember me</label>
            <a href="#">forget password?</a>
        </div> -->

        <button type="submit" class="btn">Se connecter</button>
        
    </form>
</div>
</div>