

#container{
  overflow: auto;
  display: flex;
  width: 100%;
  height:100vh;
  background:  rgb(224, 229, 240) ;
  padding: none;
  font-family:  'Helvetica', sans-serif;

  

  #sidebar {
    width: 250px;
    height: 100%;
    background: rgb(234, 235, 237);
    border-right: 2px solid #b9bdcc;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: width 0.5s ease-in-out;
    transform: translateX(0);

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.83rem 0.38rem 0 0.38rem;
        width: 100%;
        // gap:20px;
      }
      
      .logo-text {
        margin-left: 1.5rem;
        font-size: 20px;
        font-weight: 700;
        color: rgb(84, 15, 212);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        // transition: margin-left 0.8s ease; *
        .text{
            position:fixed;
            padding: 5%;
            transition: padding 0.5s ease-in-out;
           
        }

      }
      
      .logo {
        background: white;
        border: 2px solid #e9d2d2;
        text-align: center;
        width: 3rem;
        min-width: 3rem;
        border-radius: 0.313rem;
        padding: 0.313rem;
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        color: rgb(84, 15, 212);
      }


      .menu-sidebar {
        margin-top: 30px; /* Adjust the top margin as needed */
        padding-top: 30px; /* Adjust the padding as needed */
        // border-top: 2px solid #b9bdcc; /* Add a top border for separation */
        display: flex;
        flex-direction: column;
        div {
          margin-bottom: 10px; /* Adjust the bottom margin between menu items */
          a {
            display: block;
            text-decoration: none;
            color: #232941;
            font-size: 16px;
            padding: 8px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
    
            &:hover {
              background-color: #dcdcdc; /* Adjust the hover background color as needed */
            }
          }
        }

       
      }
      .menu-sidebar:last-child{
        margin-bottom: auto;
      }
      #logoout{
        margin-bottom: auto;
        height: 5px;
        color: aqua;
      }
      
  }
  
      
      #sidebar.collapsed {
        width: 100px; 
        overflow: hidden;
    }
    
      
     

    #contentContainer{
      flex-grow: 1;
      background: rgb(224, 229, 240);
      transition:margin-left 0.5s ease-in-out;
      
      // margin-left: -20px;
      #header{
        display: flex;
        width:100%;
        padding: 20px 20px;
        box-sizing: border-box;
        justify-content: space-between;
    }

    #menu{
        display: flex ;
        gap: 20px;
        a{
            text-decoration: none;
            color: #232941;
            font-size: 16px;
        }
    }


        #text {
            font-size: large;
            font-weight: bold;
            transition: padding 0.5s ease-in-out;
          }

          .content {
            display: flex;
            flex-direction: column;
            background-color: rgb(224, 229, 240);
        
           
            
            // margin-right: 30%;

            #button {
              height: 2rem;
              background-color: #4221d6;
              border-radius: 5px;
              border:2px; 
              // transition: transform .25s;
              text-align: center;
              color: #e6d9dd;  
            }
            #button:hover{
              background-color: #3339ef;
              cursor: pointer;
            }

            .tablecontainer {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
            }
            
            .table {
              font-size: small;
            }
            
            table {
              width: 95%;
              border-collapse: collapse;
              min-width: 200px;
              margin-left: 20px;
            }
            
            th {
              font-size: 10px;
              font-weight: bold;
              align-items: center;
              color: #4e5051;
              padding: 15px;
              background-color: rgb(224, 229, 240);
            }
            
            th, td {
              text-align: center;
            
            }
            
            tbody tr {
              border-radius: 2px;
              border-bottom: 3px solid rgb(224, 229, 240);
            
            }
            
            td {
              padding: 10px;
              font-size: 12px;
            }
            
            tbody {
             
              background-color: rgb(238, 242, 245);
            }
            
            tbody tr:hover {
              border: 2px #66338e solid;
              border-radius: 20px;
            }
            
            table, td {
              border-radius: 5px;
            }
            
            .side-content {
              width: 22%;
              display: flex;
              flex-direction: column;
              background: rgb(238, 242, 245);
              margin-top: 20px;
              border-radius: 5px;
              height: 290px !important;
              margin-left: auto;
              margin-right: 30px;
            }
            
            .title {
              margin-top: 5px;
              align-items: center;
              justify-content: center;
              padding-left: 10%;
            }
            
            .info {
              padding-left: 5%;
              margin-right: 10px;
              padding-top: 5%;
              padding-bottom: 5%;
              

            }
            
            p {
              font-size: small;
              margin-bottom: 15px;
              border-bottom: 1.5px solid #e2e0f3;
            }
            
            @media (max-width:1400px) {

              .tablecontainer {
                  display: flex;
                  flex-direction: row; 
                .table {
                  width: 80%;
                }
              
                .side-content {
                  width: 70%;
                  margin-left: 20px;
                  margin-right: 55px;
                  /* Change to row */
                }
              }
              
            }
            .tablecontainer:last-child{
              margin-left: auto;
            }
            
            
            .pagination a {
              color: black;
              float: left;
              padding: 8px 16px;
              text-decoration: none;
            }
            
            .pagination a.active {
              background-color: #4CAF50;
              color: white;
              border-radius: 5px;
            }
            
            .pagination a:hover:not(.active) {
              background-color: #ddd;
              border-radius: 5px;
            }            
         
                }
               

                .performances{
                  margin-left: 20px;
                  // height: auto;

                  .form-group {
                    position: relative;
                  
                  
                  
                  
                  
                    .filter-popup::-webkit-scrollbar {
                      width: 2px;
                      height: 2px; /* Width of the scrollbar */
                    }
                    
                    .filter-popup::-webkit-scrollbar-thumb {
                      background-color: #837cd6; /* Color of the scrollbar thumb */
                      border-radius: 5px; /* Radius of the scrollbar thumb */
                    }
                    
                    .filter-popup::-webkit-scrollbar-track {
                      background-color: #eee; /* Color of the scrollbar track */
                      border-radius: 5px; /* Radius of the scrollbar track */
                    }
                    
                  
                    
                    .filter-popup {
                      border-radius: 5px;
                      display: none;
                      position: absolute;
                      top: 100%;
                      left: 0;
                      width: 100%; 
                      /* Set width to 100% to match the button's width */
                      max-height: 200px; /* Adjust as needed */
                      overflow-y: auto;
                      overflow-x: hidden; /* Add scroll if content is too long */
                      background: rgba(32, 8, 248, 0); /* Semi-transparent background */
                      z-index: 1000;
                  
                      .filtre{
                        height:20px;
                        padding: 5px;
                      
                        border: 1px solid rgb(202, 204, 247);
                     
                      }
                  
                  
                      .filter-content {
                        background:  rgb(224, 229, 240);
                        padding: 2px;
                        border:1px solid  rgba(58, 23, 214, 0.414);
                        box-shadow: 0 0 10px  rgb(51, 58, 75);
                        border-radius: 5px;
                        border-bottom: 2px solid  rgba(58, 23, 214, 0.414);
                        
                        
                  
                        
                        .filterform{
                          display: flex;
                          flex-direction: column;
                          justify-content: center;
                          gap: 1vw;
                          
                          padding: 0px  !important;
                        
                         
                          
                        
                        
                        
                         #close {
                           margin-left: 60px;
                           border: 1px solid transparent; /* Initially transparent border */
                           border-radius: 5px; /* Makes it round */
                            /* Adjust padding as needed */
                           background-color: transparent;
                           transition: border-color 0.3s ease-in-out;
                          
                           margin-left: auto;/* Transition for smooth border color change */
                         }
                         
                         #close:hover {
                           border-color: #c3beff;
                           background-color: #b9bdcc; 
                           align-items: center;/* Solid border color on hover */
                         }
                        
                         #clear{
                         
                           align-content: center;
                        
                         }
                           //transition: transform .25s;
                           .label{
                            padding-top: 2px;
                            font-size: 15px;
                           }
                        
                         }
                        
                        
                            
                         .filterform:first-child{
                          margin-left: auto;
                        }
                        
                            }
                          
                          }
                        
                  
                       
                   
                  
                  }
                  .form-group:hover .filter-popup {
                    display: block;
                  }
                  .pagination-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-right: 25%;
                    button {
                      margin: 0 5px;
                      padding: 5px 10px;
                      font-size: 14px;
                      width: 50px;
                      border: 0px solid #1310e1;
                     border-radius: 5px;
                      color: #1310e1;
                      cursor: pointer;
                      outline: none;
                  
                      &:hover {
                        background-color: #007bff;
                        color: #fff;
                      }
                  
                      &.active {
                        background-color: #007bff;
                        color: #fff;
                      }
                  
                      &:disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                      }
                    }
                  
                  }

                  .filter-button{
                    display: flex;
                    gap: 2vw;
                    align-items: center;
                    justify-content: flex-start;
                
                    // .buton-position{
                    //     margin-right:5vw;
                    //   }
                    button{
                      width:10rem;
                    }
                    }
                    }


                    
                    .card-container {
                    
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: flex-start;
                     width: 70%;
                     margin-right: auto;
                      gap: 2vw;
                      .card-info {
                        margin-top: 20px;
                        background:  rgb(238, 242, 245);
                        width:100%;
                        height:250px;
                     margin-bottom: 20px;
                        border-radius: 5px;
                    
                        .title {
                          margin-top: 5px;
                          align-items: center;
                          justify-content: center;
                          padding-left: 10%; 
                        }
                    
                        .info {
                          padding-left: 5%;
                          padding-top: 5%;
                          padding-bottom: 5%;
                          
                    
                        
                        }
                        p {
                          font-size: small; 
                          margin-bottom: 5px;
                          border-bottom: #082db3;
                          border-bottom: 1px solid #e2e0f3;
                        }
                      }

                      
                       
                    }

                    .card-container:first-child{
                      margin-right: auto;
                    }
      
    }


    
  


     

 
    

    

 

}



            .colis {
              margin-right: 25px;
              margin-left: 20px;
              
              .form-group {
                position: relative;
              
              
              
              
              
                .filter-popup::-webkit-scrollbar {
                  width: 2px;
                  height: 2px; /* Width of the scrollbar */
                }
                
                .filter-popup::-webkit-scrollbar-thumb {
                  background-color: #837cd6; /* Color of the scrollbar thumb */
                  border-radius: 5px; /* Radius of the scrollbar thumb */
                }
                
                .filter-popup::-webkit-scrollbar-track {
                  background-color: #eee; /* Color of the scrollbar track */
                  border-radius: 5px; /* Radius of the scrollbar track */
                }
                
              
                
                .filter-popup {
                  border-radius: 5px;
                  display: none;
                  position: absolute;
                  top: 100%;
                  left: 0;
                  width: 80%; 
                  /* Set width to 100% to match the button's width */
                  max-height: 200px; /* Adjust as needed */
                  overflow-y: auto;
                  overflow-x: hidden; /* Add scroll if content is too long */
                  background: rgba(32, 8, 248, 0); /* Semi-transparent background */
                  z-index: 1000;
              margin-left: 50px;
                  .filtre{
                    height:20px;
                    padding: 5px;
                  
                    border: 1px solid rgb(202, 204, 247);
                 
                  }
              
              
                  .filter-content {
                    background:  rgb(224, 229, 240);
                    padding: 2px;
                    border:1px solid  rgba(58, 23, 214, 0.414);
                    box-shadow: 0 0 10px  rgb(51, 58, 75);
                    border-radius: 5px;
                    border-bottom: 2px solid  rgba(58, 23, 214, 0.414);
                    
                    
              
                    
                    .filterform{
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      gap: 1vw;
                      
                      padding: 0px  !important;
                    
                
                       //transition: transform .25s;
                       .label{
                        padding-top: 2px;
                        font-size: 15px;
                       }
                    
                     }
                    
                    
                        
                     .filterform:first-child{
                      margin-left: auto;
                    }
                    
                        }
                      
                      }
                    
              
                   
               
              
              }
              
              .filter-button {
                display: flex;
                gap: 2vw;
                align-items: center;
                /* Add this line */
                // margin: 5px;
              
                .buttonajouter {
                  margin-left: auto;
                  width: 18rem;
                  
                   /* Adjust margin as needed */
                
                  height: 3fr;
                }
                

                .buttonfiltre{
                  width: 12rem;
                  margin-left: 50px;
                }
            
               
                
              }
              .filter-button:last-child .ajouter {
                margin-left: auto;
              }

              .pagination {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 20px;
              
                button {
                  margin: 0 5px;
                  padding: 5px 10px;
                  font-size: 14px;
                  border: 0px solid #1310e1;
                 border-radius: 5px;
                 width: 50px;
                  color: #1310e1;
                  cursor: pointer;
                  outline: none;
              
                  &:hover {
                    background-color: #007bff;
                    color: #fff;
                  }
              
                  &.active {
                    background-color: #007bff;
                    color: #fff;
                  }
              
                  &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                  }
                }
              
              }



.form-group:hover .filter-popup {
  display: block;
}
            }

            #button .ajouter {
              margin-left: auto;
              width: 100%;
               /* Adjust margin as needed */
            
              height: 3fr;
            }
            @media (min-width: 768px) {
  /* Apply styles only when the screen width is 768 pixels or more */
  .table {
    width: 75%;
  }
  .filter-button:last-child .ajouter {
    margin-right: auto;
  }
  .side-content {
    
    width:100px;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
}
    








//form


.date {
  /* Add your styles here */
  padding: 2px;
  border: 1px solid #0732ce00;
  font-size: 14px;
  color: #0a2c53;
  background-color:  rgb(224, 229, 240);

}


