p{
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 2rem auto;
  }
  
  label, input {
    margin-bottom: 1rem;
    width: 250px;
  }
  
  button {
    padding: 1rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
    max-width: 400px;
  }
  
  .alert-success {
    color: #2ecc71;
    background-color: #eaf7ea;
    border-color: #d5f5d5;
  }
  
  .alert-danger {
    color: #e74c3c;
    background-color: #f9ebec;
    border-color: #f2dede;
  }
  
  h4 {
    text-align: center;
    margin-bottom: 2rem;
  }
  

.card{
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 2rem auto;
}
  








