<div class="card" *ngIf="step === 1">
    <div class="card-body form-group">
      <h4 class="card-title">Enter Email</h4>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <form (submit)="requestPasswordReset()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Send Reset Code</button>
      </form>
    </div>
  </div>
  
  <div class="card" *ngIf="step === 2">
    <div class="card-body form-group">
      <h4 class="card-title">Enter Reset Code and Set New Password</h4>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <form (submit)="resetPassword()">
        <p>Email: {{ email }}</p>
        <div class="form-group">
          <label for="resetCode">Reset Code:</label>
          <input type="number" id="resetCode" name="resetCode" [(ngModel)]="resetCode" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
  </div>
  




 
